@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/642a00f30be82bcc3f03e401.642a00f3481df8330be94066.6TPinDX.hcp.png");

@font-face {
  font-family: "Basquiat-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Basquiat Regular.otf") format("opentype");
}
@font-face {
  font-family: "Impact-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Impact.ttf") format("truetype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.align-self-flex-center {
  align-self: flex-center;
}

* {
  box-sizing: border-box;
}

.group-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  min-width: 973px;
}

.title-container {
  height: 217px;
  position: relative;
  width: 973px;
}

.title {
  color: var(--black);
  font-family: var(--font-family-basquiat-regular);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  left: 175px;
  letter-spacing: -1.26px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 86px;
  white-space: nowrap;
}